<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVOSApplicationId</key>
	<string>3p249zn3qi0d8ow5ldo5ylx78zaxlou7k2c4priw7lyuwlpd</string>
	<key>AVOSClientKey</key>
	<string>ppqykeblst44qxerwrbyjohr7zwmqv5h7z64qqozy0glini1</string>
</dict>
</plist>
